[submodule "lib/disorder"]
	path = lib/disorder
	url = https://github.com/haskell-mafia/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = https://github.com/haskell-mafia/x
[submodule "lib/p"]
	path = lib/p
	url = git@github.com:ambiata/p.git
